.btn {
  width: 80px;
  height: 60px;
  /* margin-bottom: 30px; */
  /* color: grey; */
  border-radius: 50%;
  border-width: 3px;
  font-style: italic;
  color: darkslategray;
  background-color: #fff;
  font-weight: bold;
}

.hero-title {
  /* font-style: italic; */
  font-weight: bold;
}

.header {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-class {
  font-size: 50px;
}

/* .new-class-again {
  font-size: 10px;
} */
